﻿<div class="card col-md-8">
  <h4 class="card-header mt-2">Connexion</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="offset-md-1 form-group col-md-8">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="offset-md-1 form-group col-md-8">
        <label for="password">Mot de Passe</label>
        <input type="password" formControlName="password" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="offset-md-3 form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Valider
        </button>
        <a (click)="register()" class="btn btn-link">S'enregistrer</a>
      </div>
    </form>
  </div>
</div>
