<div class="row">
  <div class="col-md-3">
    <app-pricing-sub [type]="type" (typeChange)="setType($event)"></app-pricing-sub>
  </div>
  <div class="offset-md-1 col-md-6">
     <app-login-sub *ngIf="!isLogged && !wantRegister" (wantRegister)=wantedRegister($event) (email)="setEmail($event)"  (hasLogged)="refreshUserLogged($event)"></app-login-sub>
     <app-register-sub *ngIf="!isLogged && wantRegister" (wantRegister)=wantedRegister($event) (email)="setEmail($event)" (hasLogged)="refreshUserLogged($event)"></app-register-sub>
     <app-payment #paymentComponent *ngIf="isLogged" [_email]="this.email" [_type]="this.type"></app-payment>
  </div>
</div>

