﻿<!-- nav -->
<app-navbar></app-navbar>

<!-- main app container -->
<div class="app-container">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- footer -->
<div class="text-center mt-4">
  <app-footer></app-footer>
</div>
