﻿ <div class="row align-items-center mt-xxl-5">
    <div class="offset-md-1 col-md-5" >
      <!-- titre 1 -->
      <h1 class="text-center p-5">Gardez le contrôle de vos colis</h1>
      <h4 class="text-center">Vous ou votre entreprise réalisez des envois de colis...</h4>
      <h4 class="text-center mt-4">Savez-vous qu'en cas de retard de livraison, votre envoi est</h4>
      <h4 class="text-center">elligible à un remboursement partiel voire total de la part du transporteur ?</h4>
      <h4 class="text-center mt-4">Nous vous proposons de vous aider à faire cette vérification</h4>
      <h4 class="text-center">et de créér vos réclamations rapidement et automatiquement.</h4>
    </div>

    <div class="col-md-5" >
      <img src="assets/img/gain_time.jpg" class="rounded"/>
    </div>
  </div>

  <div class="row align-items-sm-start mt-xxl-5">

    <div class="offset-md-1 col-md-5 d-flex justify-content-center" >
      <img src="assets/img/network.jpg" class="w-60 mt-5 rounded mx-auto"/>
    </div>
    <div class="col-md-5" >
      <!-- titre 1 -->
      <h1 class="text-center p-5">Comment ça marche ?</h1>
      <h4 class="text-start mt-4">1 - La liste complète de vos envois est récupérée directement via votre compte transporteur.</h4>
      <h4 class="text-start mt-4">2 - En nous connectant au webservice du transporteur, nous vérifions si vos colis ont été livrés dans les temps.</h4>
      <h4 class="text-start mt-4">3 - Dans le cas contraire, notre outil permet de créer les réclamations de remboursement.</h4>
    </div>
  </div>


 <div class="row align-items-center mt-xxl-5">
   <div class="offset-md-1 col-md-5" >
     <!-- titre 1 -->
     <h1 class="text-center p-5">Gagnez du temps et de l'argent</h1>
     <h4 class="text-center">Votre entreprise a mieux à faire que de perdre du temps à créer des réclamations.</h4>
     <h4 class="text-center mt-4">Pourtant conformément à la politique du transporteur, ces dédommagements vous sont dûs !</h4>
     <h4 class="text-center">Il serait donc dommage de ne pas les réclamer simplement par manque de temps...</h4>
     <h4 class="text-center mt-4">Vous optimisez ainsi le prix de vos envois en obtenant ces remboursements.</h4>
   </div>

   <div class="col-md-5" >
     <img src="assets/img/cochon.jpg" class="w-60 mt-5 rounded mx-auto"/>
   </div>
 </div>

 <!-- button -->
 <div class="text-center mt-xxl-5">
   <button type="button" class="btn btn-lg btn-custom" (click)="goToPrincing()" routerLinkActive="active">
     Je m'abonne
   </button>
 </div>
