/*.carousel{*/
/*  width: fit-content !important;*/
/*}*/

.btn-custom  {
  background: #ffde07;
  color:#fff;
  border-radius:20px
}

.tales {
  width: 100%;
  background-color: #ffffff;
}
.carousel-inner{
  width:100%;
  /*max-height: 100px !important;*/
  background-color: #ffffff;
}


.carousel-control-prev{
  width: 10%;
  background-color: #ffffff;
}

.carousel-control-next{
  width: 10%;
  background-color: #ffffff;
}
