<div id="bootstrapCarousel" class="carousel carousel-dark carousel-fade m-auto" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#bootstrapCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#bootstrapCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#bootstrapCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <video  class="video-fluid d-block w-60 m-auto" autoplay loop [muted]="true">
        <source src="/assets/video/auto.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <video class="video-fluid d-block w-60 m-auto" autoplay loop [muted]="true">
        <source src="assets/video/stats.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="carousel-item">
      <video class="video-fluid d-block w-60 m-auto" autoplay loop [muted]="true">
        <source src="/assets/video/main.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#bootstrapCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#bootstrapCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
