<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="flex-fill"></a>
    <a class="navbar-brand" routerLink="home" routerLinkActive="active">
      <img src="/assets/icon/logo_simple.png" alt="" width="80" height="60" class="d-inline-block align-text-top">
    </a>

    <!--    <a class="navbar-brand" routerLink="home" routerLinkActive="active">-->
    <!--      <img src="/assets/logo/logo2.png" alt="" width="365" height="44" class="d-inline-block align-text-top">-->
    <!--    </a>-->

    <a class="navbar-brand" routerLinkActive="active" (click)="home()">
      COLIS CONTRÔLE
    </a>

    <a class="flex-fill"></a>

    <a class="navbar-menu" routerLink="guide" routerLinkActive="active">
      MODE D'EMPLOI
    </a>
    <a class="navbar-menu" routerLink="download" routerLinkActive="active">
      TÉLÉCHARGEMENT
    </a>
    <a class="navbar-menu" *ngIf="user" (click)="logout()">
      DÉCONNEXION
    </a>
    <a class="navbar-menu" *ngIf="!user" (click)="login()">
      CONNEXION
    </a>
    <a class="navbar-menu" routerLink="help">
      AIDE
    </a>
    <button type="button" routerLink="pricing" routerLinkActive="active" class="btn btn-primary btn-lg navbar-buy">ACHAT
    </button>
    <a class="flex-fill"></a>
  </div>
</nav>
