body{
  background: #ffffff;
}
.header {
  background-color: #FFFFFF;
  border-width: 0;
}
#subnav {
  position: fixed;
  width: 100%;
}
.navbar-default {
  background-color: #ffffff;
  border-width: 0;
  margin-top: 50px;
  z-index: 5;
}

.btn-primary, .label-primary, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #4285F4;
}
.btn-primary {
  border-color: rgba(0, 0, 0, 0);
}
.btn, .form-control, .panel, .list-group, .well {
  border-radius: 1px;
  box-shadow: 0 0 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li:hover > a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: rgba(0, 0, 0, 0);
  border-color: #4285F4;
  border-image: none;
  border-style: solid;
  border-width: 0 0 2px;
  font-weight: 800;
}

/* Modify the background color */

.navbar-custom {
  background-color: #ffffff;
}
/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #ffde07;
  font-weight: 800;
  font-size: xx-large;
  padding-right: 1em;
}

.navbar-custom .navbar-menu {
  color: #605c5c;
  font-weight: 800;
  font-size: x-large;
  padding-right: 3em;
  text-decoration: none;
}

.navbar-custom .navbar-buy {
  color: #ffffff;
  font-weight: 800;
  font-size: x-large;
  text-decoration: none;
  border-radius: 10px;
}
