/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* Box-sizing

For more straightforward sizing in CSS, we switch the global box-sizing value from content-box to border-box.
This ensures padding does not affect the final computed width of an element,
but it can cause problems with some third-party software like Google Maps and Google Custom Search Engine.

On the rare occasion you need to override it, use something like the following:*/
.selector-for-some-widget {
  box-sizing: content-box;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-60 {
  width: 60% !important;
}

a { cursor: pointer; }

.app-container {
  min-height: 1000px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
