<div class="mt-xxl-5">
    <!-- carousel -->
    <app-carousel></app-carousel>

    <!-- button -->
<!--    <div class="text-center m-1">-->
<!--      <button type="button" class="btn btn-lg btn-custom" (click)="goToPrincing()" routerLinkActive="active">-->
<!--        Je m'abonne-->
<!--      </button>-->
<!--    </div>-->
  </div>



